<br />
  <h3> Bienvenue à vous !! </h3>
  <ul>
    <li><strong>Lost Friends</strong><br />
      <br />
      Avec Lost Friends, retrouvez
      des anciens élèves perdus de vue
      et partagez vos photos de classe. Découvrez ce que sont devenus vos anciens amis et reprenez contact ! Votre adresse e-mail ne sera
      jamais révélée sur le site.
      <br /><br />
      Lost Friends c'est :<br />
      &nbsp - 12 millions de membres<br />
      &nbsp - 25 millions de photos<br />
      &nbsp - une inscription gratuite et rapide<br /><br />
    </li>
  </ul>
  <br />
</div>
<div id="news"> <br />
  <h3> Lasted News </h3>
  <div>
    <h5> à la une </h5>
    <br />
    <h3> Les réseaux sociaux se verticalisent </h3>

    <p> Facebook, MySpace, Lost Friends, Viadeo, Linkedin... Les grands réseaux ont ouvert la voie, permettant aux internautes de développer leur fibre communautaire et d'acquérir des réflexes numériques. Tissant des liens à vaste échelle, les Français ont pris goût au web 2.0, élargissant ainsi leurs cercles d'amis dans le monde entier, partageant avec eux des tranches de vie en temps réel ou exposant leur profil pour découvrir d'autres sphères professionnelles.</p>
    <br /><br />
    <span class="edit"> écrit par Remy le 04/03/2010 à 09:00 </span>
  </div>
