<div id="big_menu">
  <table>
    <tr>
      <td><%= link_to "Acceuil", root_path() %></td>
      <td><%= link_to "S'inscrire", signup_path() %> </td>
      <!-- <td><a href="#"> Forum </a> </td>
            <td><a href="#"> Contact </a> </td>
            <td><a href="#"> Recherche </a> </td> -->
    </tr>
  </table>
</div>


