<div id="big_menu">
  <table>
    <tr>
      <td><a href="index.html"> Accueil </a> </td>
      <td><a href="inscription.html"> S'inscrire </a> </td>
      <td><a href="#"> Forum </a> </td>
      <td><a href="#"> Contact </a> </td>
      <td><a href="#"> Recherche </a> </td>
    </tr>
  </table>
</div>