<div id="footer"> <span class="copyright">Lost Friends et FBLOT Entertainment are trademarks or registered trademarks of FBLOT Entertainment in the FR. and / or other countries. <br />
 These terms and all materials, logos and related images are copyright Lost Friends. This site is not associated in any way or is endorsed by Lost Friends.</span> 
 </div>