<div id="top_header"> <div id="logo"><a href=""> Lost Friends </a><br /> <a href="#" id="slogan">Partagez et découvrez ce qui se passe en ce moment, avec tout vos amis de l'IUT.</a></div> </div>
<div id="bottom_header">
  <div class="block_header2">
    <!-- Login -->
    <%= render :partial => "sessions/new"%>
  </div>
  <div id="bottom_header_middle"> </div>
  <div class="block_header">
    <h1> Lost Friends </h1>
    <p> Lost Friends est le 
     réseau<br/> social de l'iut informatique
     de Fontainebleau. <br /></p>
  </div>
</div>

<div class="clear"> </div>
