<div id="right_menu">
  <div class="little_menu">
    <div>
      <h1> Partenaire </h1>
      <p><a href="http://www.u-pec.fr/"><em> Upec Citron </em></a><br /><br />
        L’université Paris-Est Créteil Val de Marne </p>
    </div>
    <div>
      <h1> Evènnements </h1>
      <a href="http://www.parisbouge.com/event/soiree-generaliste/le-madness-club/47630/madness.php"><p><em>  The Madness Club   </em></a> <br /><br />
          Une soirée de folie qui s'annonce dans un décor intimiste, chic & glam.</p>
    </div>
  </div>
</div>

